/* common related styles  */
* {
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    gap: 10px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}

.btn-primary:hover {
    background-color: red;
}

.text-primary {
    color: #E55473;
}

/* header related styles */

/* navbar related styles */
.nav-bar {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.menu ul {
    display: flex;
    justify-content: center;

}

nav a {
    text-decoration: none;
}

.menu li {
    list-style: none;
    margin: 0px 15px;
    color: orangered;
    font-size: 18px;
    font-weight: 400;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

li:hover {
    background-color: wheat;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo-image {
    width: 50px;
}

/* banner related styles */
.banner {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 100px 0px;
    align-items: center;
    justify-content: center;
}

.banner-content {
    margin-right: 50px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0px;

}

.banner-image {
    width: 450px;
}

/* Featured Flowers Related Style */

.featured-flowers-section {
    margin: 150px 280px;
}

.featured-flowers-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;

}

.featured-flowers-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;

}

.featured-flowers-image-1 {
    width: 80;
    padding: 90px 20px 0px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-flowers-image-2 {
    width: 80;
    padding: 100px 10px 50px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-flowers-image-3 {
    width: 80;
    padding: 50px 20px 0px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* hot deal related style */

.hot-deal-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 80px 250px;
    gap: 100px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 15px 0px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
}

.hot-deal-image {
    width: 250;
}

/* Instagram Section related styles */

.instagram-section {
    margin: 100px 200px;
    background: #FFF;
}

.instagram-content {
    text-align: center;
    padding: 40px 20px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.instagram-flower-images {
    width: 250px;
}

/* this is latest-deal-section */

.latest-deal-section {
    background: url("./flower/rectangle9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 100px 90px;
    text-align: center;
}

.latest-deal-container {
    padding: 100px 150px;
}

.latest-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-deal-shopping {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}

.latest-deal-input {
    width: 50%;
    padding: 15px 30px;
    border: 0px;
    border-radius: 5px;
}

.btn-submit {
    margin-left: 15px;
}

/* footer related */

footer {
    background-color: black;
    text-align: center;
    padding: 100px 300px;
}

.footer-title {
    color: #ffff;
    font-size: 40px;
    font-weight: 800;
}

.footer-description {
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
}